@import "tailwindcss";
@utility container {
  max-width: 1410px;
  margin: 0 auto;
}
@theme {
  --font-jost: "Jost", sans-serif;
  --color-primary: #222222;
  --color-gray: #767676;
}

.swiper-pagination-bullet {
  background-color: #ddc2b9 !important;
  opacity: 1 !important;
  margin-right: 28px !important;
}
.swiper-pagination-bullet-active {
  background-color: #222222 !important;
  position: relative;
}
.swiper-pagination-bullet-active::after {
  content: "";
  width: 29px;
  height: 29px;
  border: 3px solid #222222;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper-pagination {
  text-align: start !important;
  margin-left: 289px !important;
  bottom: 58px !important;
}

.clamp{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1rem;
  color: #222222;
  font-weight: 400;
  margin-top: 9px;
  text-transform: uppercase;

}
.desc{
  line-height: 1.6;
    font-size: 1rem;
  color: #222222;
  font-weight: 400;
  margin-top: 9px;
  text-transform: uppercase;
}
@media (min-width: 300px) and (max-width: 575px) {
  .swiper-pagination {
    margin-left: 40px !important;
    bottom: 20px !important;
  }
  .swiper-pagination-bullet {
    margin-right: 14px !important;
  }
  .swiper-pagination-bullet {
    width: var(
      --swiper-pagination-bullet-width,
      var(--swiper-pagination-bullet-size, 5px)
    ) !important;
    height: var(
      --swiper-pagination-bullet-height,
      var(--swiper-pagination-bullet-size, 5px)
    ) !important;
  }
  .swiper-pagination-bullet-active::after {
    width: 20px;
    height: 20px;
    border: 1px solid #222222;
  }
  .clamp{
  margin-top: 5px;
  font-size: 14px;


}
.desc{
    margin-top: 5px;
  line-height: 1.6;
    font-size: 14px;
  
}
#my-class .swiper-pagination-clickable{
  position: absolute !important;
  bottom: 15px !important;
 
    text-align: center !important;
  margin-left: 0 !important;

}
#my-class{
  padding-bottom: 60px !important;
}
}
@media (min-width:800px) {
  #my-class .swiper-pagination-clickable{
 display: none !important;
}
}
